In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('quikr_car.csv')
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [3]:
df=df.dropna()

In [4]:
df=df[df['Price']!="Ask For Price"]

In [5]:
df['Price']=df['Price'].str.replace(',','')

In [6]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,"45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,"28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,"36,000 kms",Diesel
6,Ford Figo,Ford,2012,175000,"41,000 kms",Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,"50,000 kms",Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,"30,000 kms",Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,"1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,"27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,"40,000 kms",Diesel

In [7]:
df['kms_driven']=df['kms_driven'].str.split().str.get(0).str.replace(',','')

In [8]:
df['kms_driven']=df['kms_driven'].astype(int)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    object
 3   Price       816 non-null    object
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(1), object(5)
memory usage: 41.4+ KB

In [10]:
df['year']=df['year'].astype(int)

In [11]:
df['Price']=df['Price'].astype(int)

In [12]:
df['name']=df['name'].str.split().str[:3].str.join('')

In [13]:
df

                     name   company  year   Price  kms_driven fuel_type
0       HyundaiSantroXing   Hyundai  2007   80000       45000    Petrol
1       MahindraJeepCL550  Mahindra  2006  425000          40    Diesel
3         HyundaiGrandi10   Hyundai  2014  325000       28000    Petrol
4    FordEcoSportTitanium      Ford  2014  575000       36000    Diesel
6                FordFigo      Ford  2012  175000       41000    Diesel
..                    ...       ...   ...     ...         ...       ...
883      MarutiSuzukiRitz    Maruti  2011  270000       50000    Petrol
885          TataIndicaV2      Tata  2009  110000       30000    Diesel
886    ToyotaCorollaAltis    Toyota  2009  300000      132000    Petrol
888            TataZestXM      Tata  2018  260000       27000    Diesel
889      MahindraQuantoC8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [14]:
df

                     name   company  year   Price  kms_driven fuel_type
0       HyundaiSantroXing   Hyundai  2007   80000       45000    Petrol
1       MahindraJeepCL550  Mahindra  2006  425000          40    Diesel
3         HyundaiGrandi10   Hyundai  2014  325000       28000    Petrol
4    FordEcoSportTitanium      Ford  2014  575000       36000    Diesel
6                FordFigo      Ford  2012  175000       41000    Diesel
..                    ...       ...   ...     ...         ...       ...
883      MarutiSuzukiRitz    Maruti  2011  270000       50000    Petrol
885          TataIndicaV2      Tata  2009  110000       30000    Diesel
886    ToyotaCorollaAltis    Toyota  2009  300000      132000    Petrol
888            TataZestXM      Tata  2018  260000       27000    Diesel
889      MahindraQuantoC8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [15]:
df=df[df['Price']<6000000]

In [16]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split

In [17]:
x=df.drop("Price",axis=1)
y=df['Price']

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [19]:
ohe=OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [20]:
colume_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                     remainder='passthrough')

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
lr=LinearRegression()

In [23]:
pipe=make_pipeline(colume_trans,lr)

In [24]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['AudiA3Cabriolet', 'AudiA41.8', 'AudiA42.0', 'AudiA62.0', 'AudiA8',
       'AudiQ32.0', 'AudiQ52.0', 'AudiQ7', 'BMW3Series', 'BMW5Series',
       'BMW7Series', 'BMWX1', 'BMWX1sDrive20d', 'BMWX1xDrive20d',
       'ChevroletBeat', 'ChevroletBeat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [25]:
y_pread=pipe.predict(x_test)

In [26]:
from sklearn.metrics import r2_score
r2_score(y_pread,y_test)

0.42002600797151

In [27]:
y_pread=pipe.predict(x_test)

In [32]:
pipe.predict(pd.DataFrame(columns=['name','company','year','kms_driven','fuel_type'],data=np.array(['MahindraQuantoC8','Mahindra',2013,40000,'Diesel']).reshape(1,5)))

array([397781.04085863])

In [ ]:
#MahindraQuantoC8	Mahindra	2013	390000	40000	Diesel

In [34]:
pipe.predict(pd.DataFrame(columns=['name','company','year','kms_driven','fuel_type'],data=np.array(['MahindraQuantoC8','Mahindra',2013,40000,'Diesel']).reshape(1,5)))

array([397781.04085863])